.about {
  color: $dark_blue;
}

.about__wrapper {
  @include for_retina {
    background-image: url("../img/logo-extra@2x.png");
  }

  @include for_mobile {
    align-items: center;

    padding: 130px 10px 50px;

    text-align: center;

    background-position: 50% 10px;
    background-size: 115px 112px;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 67px 5px 70px 410px;

  background-image: url("../img/logo-extra@1x.png");
  background-position: 75px 41%;
  background-size: 235px 229px;
  background-repeat: no-repeat;
}

.about__title {
  padding-bottom: 20px;
  margin: 0;

  font-family: $font_family_playfair;
  font-size: $title_medium_font_size;
  font-weight: $weight_bold;
  line-height: $title_line_height;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about__description {
  margin: 0 0 22px;

  font-size: $small_font_size;
  line-height: $small_line_height;
  letter-spacing: 0.5px;

  &:last-of-type {
    margin-bottom: 27px;
  }
}
