.footer {
  color: $white;
  background: $gradient_background;
}

.footer__copyright {
  font-size: $small_font_size;
  font-weight: $weight_regular;
  line-height: $extra_line_height;
  letter-spacing: 0.5px;
}

.footer__nav {
  a {
    font-size: $small_font_size;
    font-weight: $weight_regular;
    line-height: $extra_line_height;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;

    color: $white;
  }
}
