.footer {
  @include for_retina {
    background-image: $gradient_background,
      url("../img/background-desktop@2x.jpg");
  }

  color: $white;
  background-image: $gradient_background,
    url("../img/background-desktop@1x.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.footer__wrapper {
  display: grid;

  padding-top: 70px;
  padding-bottom: 63px;

  column-gap: 20px;

  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 56px;
}

.footer__group {
  &--social {
    padding-left: 9px;
  }
}

.footer__copyright {
  margin: 0;

  font-size: $small_font_size;
  font-weight: $weight_regular;
  line-height: $extra_line_height;
  letter-spacing: 0.5px;
  text-align: right;
}

.footer__nav {
  grid-column: 1 / span 2;

  a {
    font-size: $small_font_size;
    font-weight: $weight_regular;
    line-height: $extra_line_height;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;

    color: $white;
  }

  .footer__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  .footer__item {
    margin-right: 34px;
  }
}
