.navigation {
  font-size: $nav_font_size;
  font-weight: $weight_black;
  line-height: $nav_line_height;
  text-transform: uppercase;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 0 0 5px 50px;
  margin: 0;

  list-style: none;
}

.navigation__item {
  a {
    @include only_desktop {
      &[href]:hover,
      &[href]:focus {
        color: $blue;
        opacity: $hover_opacity;
      }

      &[href]:active {
        opacity: $active_opacity;
      }
    }

    display: block;

    margin: 5px 0 5px 27px;

    text-decoration: none;

    color: $white;

    &:not([href]) {
      color: $blue;
    }
  }
}
