.portfolio__title {
  font-family: $font_family_playfair;
  font-size: $title_medium_font_size;
  font-weight: $weight_bold;
  line-height: $title_line_height;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $dark_blue;
}

.portfolio__link {
  font-size: $small_font_size;
  font-weight: $weight_light;
  line-height: $small_line_height;
  letter-spacing: 0.7px;

  color: $dark_blue;
  text-decoration: none;
}
