.video {
  @include for_retina {
    background-image: $gradient_background, url("../img/background-city@2x.jpg");
  }

  @include for_mobile {
    min-height: 300px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 550px;

  background-image: $gradient_background, url("../img/background-city@1x.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.video__link {
  @include only_desktop {
    &:hover,
    &:focus {
      opacity: $hover_opacity;
    }

    &:active {
      opacity: $active_opacity;
    }
  }

  position: relative;

  display: block;

  margin-top: 135px;

  font-family: $font_family_roboto;
  font-size: $basic_font_size;
  font-weight: $weight_black;
  line-height: $basic_line_height;
  letter-spacing: 0.6px;
  text-decoration: none;
  text-transform: uppercase;

  color: $white;

  &::before {
    @include retina-sprite($icon-play-1x-group);

    position: absolute;
    top: -129px;
    left: 50%;

    content: "";

    transform: translate(-52%, 0);
  }
}
