$font_family_playfair: "Playfair Display", "Times New Roman", serif;
$font_family_hammersmithone: "Hammersmith One", "Times New Roman", serif;
$font_family_roboto: "Roboto", "Arial", sans-serif;

$title_font_size: 32px;
$title_medium_font_size: 22px;
$title_line_height: 1.1;

$nav_font_size: 13px;
$nav_line_height: 25px;

$basic_font_size: 16px;
$extra_font_size: 15px;
$basic_line_height: 24px;
$extra_line_height: 26px;

$small_font_size: 14px;
$small_line_height: 22px;

$super_small_font_size: 13px;
$super_small_line_height: 1.1;

$blue: #00e0d0;
$dark_blue: #413d4b;
$dark_grey: #2f2d35;
$carbon: #333333;
$medium_white: #fafafa;
$dark_white: #f9f9f9;
$cream_white: #d7d7d9;
$light_grey: #f3f3f3;
$white: #ffffff;
$black: #000000;
$error: tomato;
$purple: #3d3063;
$grid_1: #b6b6b6;
$grid_2: #acacac;
$grid_3: #a1a1a1;
$grid_4: #8a8a8a;
$grid_5: #a4a4a4;

$weight_thin: 100;
$weight_light: 300;
$weight_regular: 400;
$weight_bold: 700;
$weight_black: 900;

$hover_opacity: 0.6;
$active_opacity: 0.3;

$gradient_background: linear-gradient(0deg, rgba(16, 13, 50, 0.851) 0%, rgba(48, 34, 93, 0.851) 100%);

$border_grid: 1px solid rgba($dark_grey, 0.35);

$border_basic: 1px solid $black;
$border_blue: 1px solid $blue;
$border_grey: 1px solid $carbon;
$border_cream: 1px solid rgba($cream_white, 0.5);
$border_lightgrey: 1px solid rgba($black, 0.1);
$border_silver: 1px solid rgba($white, 0.5);

$breakpoint_mobile: 320px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1024px;

$retina_dppx: 1.5dppx;
$retina_dpi: 144dpi;

$basic_padding: 10px;

$content_width_deskop: 940px + $basic_padding * 2;
