.expertise {
  font-family: $font_family_playfair;
  font-size: $small_font_size;
  line-height: $small_line_height;
  text-align: center;

  color: $dark_blue;
}

.expertise__wrapper {
  padding: 65px 3px 66px;
}

.expertise__title {
  margin: 0 100px 10px;

  font-family: $font_family_playfair;
  font-size: $title_medium_font_size;
  font-weight: $weight_bold;
  line-height: $title_line_height;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.expertise__description {
  position: relative;

  padding: 0 0 17px;
  margin: 0 50px 40px;

  font-weight: $weight_regular;
  letter-spacing: 1.1px;
  text-align: center;

  opacity: 0.75;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 50px;
    height: 2px;

    content: "";

    opacity: 0.3;
    background-color: $dark_blue;

    transform: translateX(-50%);
  }
}

.expertise__list {
  display: grid;
  overflow: hidden;

  padding: 0;
  margin: 0;

  font-family: $font_family_roboto;

  list-style: none;

  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.expertise__item {
  position: relative;

  padding: 120px 25px 20px;
  margin-bottom: -2px;

  letter-spacing: 0.7px;
  text-align: center;

  border-bottom: $border_grid;

  &:not(:nth-child(3n)) {
    border-right: $border_grid;
  }

  &::before {
    position: absolute;
    top: 40px;
    left: 50%;

    content: "";

    transform: translateX(-50%);
  }

  &--development {
    &::before {
      @include retina-sprite($icon-expertise-1-1x-group);
    }
  }

  &--branding {
    &::before {
      @include retina-sprite($icon-expertise-2-1x-group);
    }
  }

  &--app {
    &::before {
      @include retina-sprite($icon-expertise-3-1x-group);
    }
  }

  &--optimization {
    &::before {
      @include retina-sprite($icon-expertise-4-1x-group);
    }
  }

  &--game {
    &::before {
      @include retina-sprite($icon-expertise-5-1x-group);
    }
  }

  &--love {
    &::before {
      @include retina-sprite($icon-expertise-6-1x-group);
    }
  }

  h3 {
    padding: 0 0;
    margin: 0 0 13px;

    font-size: $small_font_size;
    font-weight: $weight_black;
    line-height: $small_line_height;
    text-transform: uppercase;
  }

  p {
    font-weight: $weight_light;

    color: $carbon;
  }
}
